//dependencies of this module
@include requires-module-lib;
@include requires-module-fonts;

//Include this mixin in other files to signal that they require this file.
@mixin requires-module-base {}

////////////////////////////////////////////////////////////////////////////////
// CSS reset

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
}

main, article, section {
  max-width: var(--content-width);
}

////////////////////////////////////////////////////////////////////////////////
// global variables

:root {
  //minimum size in any dimension of a clickable thing
  --click-target: 1.2rem;
  //mobile devices need larger click targets
  @media (max-width: 40rem) {
    --click-target: 2rem;
  }

  //maximum width of content containers
  --content-width: 800px;

  //color for borders, button backgrounds etc.
  --highlight-color: #00F;
  //color for links
  --link-color: #00F;
}

////////////////////////////////////////////////////////////////////////////////
// basic typography

html {
  font-family: Raleway, sans-serif;
  font-size: 18px; /* is 1rem */
  background: #DDD;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, pre, code, blockquote {
  @include is-unstyled;
  margin: 0;
  padding: 0;
}

.contains-body-text {
  // Applies meaningful styles to paragraphs, headings, lists etc. directly
  // below this element. Most useful with <main>, <article>, <section> etc.
  // Can be extended with class="serif".
  //
  // These elements should never @include is-card since some children are cards
  // themselves.

  @include is-stack(0.5rem);
  padding: 0.5rem;

  & > *:not(blockquote):not(pre) {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  &.serif {
    &, & > blockquote {
      & > p, & > ul, & > ol, & > ul > li, & > ol > li {
        font-family: "Source Serif Pro", serif;
      }
    }
  }

  &, & > blockquote {
    & > p, & > ul, & > ol, & > ul > li, & > ol > li {
      @include is-styled;
    }

    & > p, & > ul > li, & > ol > li {
      line-height: 1.3;

      text-rendering: optimizeLegibility;
      font-variant-ligatures: common-ligatures;
      font-kerning: normal;

      hyphens: auto;
      -ms-hyphens: auto;
      -webkit-hyphens: auto;

      text-align: justify;

      & > * {
        text-align: left;
      }

      & > code {
        @include is-styled;
        padding: 0.2em 0.4em;
        font-size: 85%;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 3px;
        white-space: nowrap;
      }
    }

    & > h1, & > h2 {
      @include is-styled;
      line-height: 1.2;
    }
    & > h1 {
      font-size: 1.8rem;
    }
    & > h2 {
      font-size: 1.5rem;
    }

    & > ul, & > ol {
      @include is-stack(0.25rem);
      padding-left: 1.5rem;
    }
  }

  & > blockquote, & > pre {
    @include is-styled;
    @include is-card;
    @include has-highlight(border-left);
  }

  & > pre {
    font-size: 85%;
  }

  & > pre > code {
    @include is-styled;
  }
}

////////////////////////////////////////////////////////////////////////////////
// buttons

a:not(.button) {
  text-decoration: none;

  &, &:visited, &:hover, &:focus, &:active {
    color: var(--link-color);
  }
}

a.button, button {
  display: inline-block;
  background: var(--highlight-color);
  color: white;
  padding: 0 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0 2px 1px #CCC;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

  &:hover, &:active, &:focus {
    box-shadow: 0 2px 3px #888;
  }
}
