//Include this mixin in other files to signal that they require this file.
@mixin requires-module-lib {}

////////////////////////////////////////////////////////////////////////////////
// SCSS variables

$color-page-bg:   #DDD;
$color-primary:   #55F;
$color-secondary: #777;
$color-success:   #0C0;
$color-warning:   #EC0;
$color-danger:    #D00;

////////////////////////////////////////////////////////////////////////////////
// unstyled-marker

@mixin is-unstyled {
  // Ensures that we don't forget to apply styles to these elements.
  outline: 1px dashed red;
}

@mixin is-styled {
  outline: initial;
}

////////////////////////////////////////////////////////////////////////////////
// layout strategies for display:block and display:inline-block elements

@mixin is-stack($gap) {
  // Arranges for all children to be separated by the same distance, `$gap`, in
  // such a way that children can also use the same layout (with a different
  // gap) inside them.
  //
  // Source: <https://every-layout.dev/layouts/stack/>
  //
  // Special syntax for usage of $gap because of
  // <https://www.sass-lang.com/documentation/breaking-changes/css-vars>

  & > * {
    margin: 0;
    --space: #{$gap};
  }
  & > * + * {
    margin-top: var(--space);
  }

  // By using the --space variable, child elements can easily override the gap
  // to match their own margins, e.g.:
  //
  //     .some-stack > .child-with-exception-above     { --space: 0; }
  //     .some-stack > .child-with-exception-below + * { --space: 0; }
}

@mixin is-column($gap) {
  //Like is-stack, but arranges children in a row instead of in a column.

  display: flex;
  justify-content: flex-start;

  & > * {
    flex: 0;
    display: block;
  }
  & > * + * {
    margin-left: $gap;
  }
}


////////////////////////////////////////////////////////////////////////////////
// design building blocks

@mixin is-card {
  background: white;
  box-shadow: 0 0 2px 3px #CCC;
  padding: 0.5rem;
}

@mixin has-highlight($border) {
  #{$border}: 4px solid var(--highlight-color);
}
