@import 'xy-lib.scss';
@import 'xy-fonts.scss';
@import 'xy-base.scss';
@import 'xy-buttons.scss';
@import 'xy-tables.scss';
@import 'xy-nav.scss';

nav#nav > #nav-bar > * > img {
  width: 48px;
  height: 48px;
}

div.table-container.narrow {
  max-width: var(--content-width);
}

td > p {
  @include is-styled;
  line-height: 1.2;

  & + p {
    margin-top: 0.5rem;
  }
}
