@import 'lib.scss';
@import 'fonts.scss';
@import 'base.scss';
@import 'buttons.scss';
@import 'tables.scss';
@import 'nav.scss';

nav#nav > #nav-bar > * > img {
  width: 48px;
  height: 48px;
}

div.table-container.narrow {
  max-width: var(--content-width);
}

td > p {
  @include is-styled;
  line-height: 1.2;

  & + p {
    margin-top: 0.5rem;
  }
}
