@import 'xy-lib.scss';
@import 'xy-fonts.scss';
@import 'xy-base.scss';
@import 'xy-nav.scss';
@import 'xy-buttons.scss';

nav#nav > #nav-bar > * > img {
  width: 48px;
  height: 48px;
}

main {
  --highlight-color: #{$color-secondary};
}
